img {
  display: block;
}

img{
        max-width: 600px;
        height: auto;
    }

body {
    background-color: black;
}

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.875em; /* 30px/16=1.875em */
}

p {
    color: rgb(255,255,255);
}